<%- include('../partials/header') %>

    <section id="flight-details">
        <h2>Flight Details</h2>
        <div>
            <p>Airline:
                <%= flight.airline %>
            </p>
            <p>Airport:
                <%= flight.airport %>
            </p>
            <p>Flight Number:
                <%= flight.flightNo %>
            </p>
            <p>Departure Date/Time:
                <%= flight.departs.toLocaleString() %>
            </p>
            <!-- ticket list -->
            <section id="ticket-list">
            <h3>Tickets</h3>
            <ul>
                <% tickets.forEach(t=> { %>
                    <li>Seat: <%= t.seat %>, Price: $<%= t.price %>
                    </li>
                    <% }); %>
            </ul>
        </section>
            <!-- New Ticket Link -->
            <a href="/flights/<%= flight._id %>/tickets/new" class="ticket-link">New Ticket</a>
            <!-- adding new destination -->
            <h3>Add destination</h3>
            <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/details">
                <label for="airport">Airport:</label>
                <input type="text" id="airport" name="airport" required>
                <label for="arrivalDateTime">Arrival Date/Time:</label>
                <input type="datetime-local" id="arrivalDateTime" name="arrivalDateTime" required>
                <button type="submit">Submit</button>
            </form>
            <!-- display destinations -->
            <% if (flight.details.length) { %>
                <ul>
                    <% flight.details.forEach(d=> { %>
                        <li>Airport: <%= d.airport %>, Arrival Date/Time: <%= d.arrivalDateTime.toLocaleString() %>
                        </li>
                        <% }); %>
                </ul>
                <% } else { %>
                    <h3>No destinations for this flight</h3>
                    <% } %>
        </div>
    </section>

    <%- include('../partials/footer') %>